* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#city-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px;
  max-width: 450px;
}

.container {
  padding: 6px;
}

#todaysForecast {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#weekForecast {}

i {
  font-size: 85px;
  padding: 5px;
}

h1,
h2,
p,
ul,
input,
button {
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px dashed;
}

button,
input {
  all: unset;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
}

a {
  all: unset;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

footer {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 15px;
  padding: 24px;
}

footer i {
  font-size: 30px;
}

/* styling on rain */

body.rain {
  background-color: #BDE8FA;
  color: #164A68;
}

/* Styling form content on rain */
.rain input {
  border: 1px solid #164A68;
  background-color: #FFFFFF;
}

.rain input::placeholder {
  color: #164A68;
}

.rain button {
  background-color: #164A68;
}

/* styling on cloud */

body.cloud {
  background-color: #F9FDFE;
  color: #F47775;
}

/* Styling form content on cloud */
.cloud input {
  border: 1px solid #F47775;
  background-color: #FFFFFF;
}

.cloud input::placeholder {
  color: #F47775;
}

.cloud button {
  background-color: #F47775;
}

/* styling on clear */


body.clear {
  background-color: #F7E9B9;
  color: #2A5510;
}

/* Styling form content on clear */
.clear input {
  border: 1px solid #2A5510;
  background-color: #FFFFFF;
}

.clear input::placeholder {
  color: #2A5510;
}

.clear button {
  background-color: #2A5510;
}